
@font-face {
	font-family: 'OpenSan-Regular';
	src: url('../../../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@media(max-width: 768px){
	.header-logo{
		min-height: 80px;
	}
}
@media(min-width: 768px){
	.header-logo{
	min-height: 115px;
	}
}
body {
    background-color: #fff;
    color: #666;
    font-family: "OpenSan-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    overflow-x:hidden; 
}
.header-logo img{
	margin:2% auto;
}
.top-menu {
    border: 1px solid #b4b4b4;
    min-height: 50px;
}
/*footer*/
.footer {
    background-color: #f2f0ee;
    padding: 2% 0;
    text-align: center;
}
/*css footer*/
.menu-footer ul{
	list-style-type: none;
	display: block;
	padding: 0 20px;
	margin: 0 15px;
	text-align: left;
}
.menu-footer ul li a{
	font-size: 13px;
	color: black;
	font-weight: bold;
	text-decoration: none;
}
.menu-footer ul li a:hover{
	color: #e75280;
}
.infor-company{
	font-size: 11px;
	text-align: left;
	padding: 0 20px;
	margin: 15px 0px 0px 15px;
}
.contact-admin{
	font-size: 11px;
	color: black;
	font-weight: bold;
}
a.contact-admin:hover{
	color: #e75280;
	text-decoration: none;
}
.thuna-title{
	font-size: 11px;
	color: black;
	font-weight: bold;
}
.thuna-title:hover{
	color: #e75280;
	text-decoration: none;
}
.site-author{
	margin-top: 15px;
	font-weight: bold;
	font-size: 12px;
}
.connect-thuna{
	margin-top: -10px;
}
/*noi dung footer*/
.main-content-footer{
	margin-top: 0px;
	background: white;

}
.box-menu{
	border: 1px solid #dcdbd9;
	margin-left: 30px;
}
.menu-content-footer{
	background: none repeat scroll 0 0 transparent;
	
}
.menu-content-footer ul{
	list-style-type: none;
	padding: 0px;
	padding-left: 70px;
}
.menu-content-footer ul li{
	text-align: left;
	line-height: 30px;
}
.menu-content-footer ul li a{
	content: "●";
	color: #363636;
}
.menu-content-footer ul li a:before{
	content: "●";
	color: #23CDCF;
}
.menu-content-footer ul li a:hover{
	color: #23CDCF;
}

.you-know{
	border-bottom: 1px solid #dcdbd9;
	line-height: 30px;
	color: #E75280;
	font-size: 16px;
	height: 50px;
	padding-top: 20px;
}
.content-footer{
	border-top: 1px solid #dcdbd9;
	margin-left: 15px;
	padding: 0px;

}
.title-content-footer{
	background: url('../img/title-content-footer.png');
	height: 45px;
	padding-top: 15px;
	font-size: 18px;

}
.active-a{
	color: #E75280 !important;
	font-weight: bold;
}
.active-a:before{
	color: #E75280 !important;
}
.para-content{
	padding-top: 30px;
	text-align: center;
}
.margin-footer{
	min-height: 370px;
}
/*end footer*/
/*menu*/
.nav-dashboard {
    padding-left: 14%;
    letter-spacing: 1px;
}
.navbar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 0 none;
    letter-spacing: 1px;
    padding: 20px 0;
    transition: background 0.5s ease-in-out 0s, padding 0.5s ease-in-out 0s;
    border: medium none !important;
    border-radius: 0 !important;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 100%;
}
.navbar-header button.navbar-toggle {
    background-color: #ef4c9b;
    font-size: 14px;
    margin-right: 5%;
    padding: 10px 15px;
}
.navbar-header button.navbar-toggle .icon-bar {
    border: 1px solid #fff;
    display: block;
}
.navbar-nav > li.active > a { color: #ef4c9b !important; }
.navbar-nav > li > a:hover { background: none !important; color: #ef4c9b !important; }
.navbar-nav > li > a {
    color: #333333 !important;
    font-size: 18px !important;
    outline: medium none;
    white-space: nowrap;
}
.oneUl{
	width: 350px;
}
.list-unstyled >li >a {
	font-size: 17px;
	text-decoration: none;
}
.list-unstyled >li >a:hover{
	color: #ef4c9b;
}

/*end menu*/
/*content index*/
.content-index{
	min-height: 700px;
	background-image: url("../../../images/business/index_bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.introduce-index{
	color: black;
	margin-top: 20%;
}
.introduce-index p{
	text-align: justify;
}
@media(max-width: 768px){
	.contact-index, .demo, .acount{
	width: 100%;
	min-height: 200px;	
	}
}
@media(min-width: 768px){
	.contact-index, .demo, .acount{
	width: 25.333%;	
	min-height: 270px;
	}
	.contact-index{
	margin-left: 6%;
	margin-right: 3%;
	}
	.demo{
		margin-left: 3%;
		margin-right: 3%;
	}
	.acount{
		margin-left: 3%;
		margin-right: 6%;
	}
}
.contact-index, .demo, .acount{
	background-color: white;
	opacity: 0.9;
}



.infor h3 {
	color: white;
	font-size: 2.5em;
}
.infor p{
	color: white;
	margin: 3% auto;
	font-size: 1.5em;
	letter-spacing: 1px;
}
.infor{
	margin-top: 3%;
}
.btn-go{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color:#e92d91;
}
.btn-go:hover{
	background-color:#D32A85;
}
.btn-go a{
	color: white;
	font-size: 18px;
}
.btn-go a:hover{
	color: white;
}
/*end content index*/
/*register*/
.f-register{
	margin-top: 4%;
	font-size: 14px;
}
#form_register label.error{
	color:#FF0000; 
	font-weight: normal;
	font-size: 14px;
}
#f-video{
	margin-top: 3%;
}
/*#form_register input{
	padding: 0px;
	height: 25px;
}
#form_register select{
	padding: 0px;
	height: 25px;
}*/
.policy{
	font-size: 12px;
}
.policy a {
	text-decoration: none;
}
.policy a:hover{
	color: #ef4c9b;
}
/*end register*/
/*login*/
#f_login {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px;
    margin: 50px auto 85px;
    max-width: 300px;
    padding: 20px 29px 29px;
}
/*end login*/
/*index dashboard*/
.content-dashboard{
	min-height: 500px;
	background-color: #e7e7e7;
	margin:3% auto;
}
.content-dashboard h3 {
	margin-left: 1.2%;
	color: #EF4CAB;
}
.nav-index{
	padding-left: 8%;
}
/*end index*/
/*nav*/
.edit-nav{
	border-bottom: solid 1px; 
}
.menu-dashboard li a{
	font-size: 16px!important;
}
/*end nav*/
/*dashboard vndor*/
.description-vendor{
	margin-top: 5%;
	text-align: justify;
	background-color: white;
}
.infor-vendor{
	background-color: white;
	padding-left: 0px;
}
.avatar-vendor{
	padding-left: 0px;
}
.description-vendor h4{
	border-bottom: solid 1px #e7e7e7;
	font-weight: bold;
} 
 .btn-search{
 	margin-bottom: 1%;
 }
.btn-search a{
	color: white;
	background-color: #ef4c9b;
}
.btn-search a:hover{
	color: white;
	background-color: #e75280;
}
.infor-count{
	background-color: white;	
	margin-top: 5%;
	padding: 0px;
}
.div-right{
	background-color: #d9d9d9;
}
.infor-count .top-h4 {
	padding: 0px;
	background-color: #d9d9d9;
}
.thongke p{
	color: #0072ff;
}
.p-infor-vendor{
	padding: 3% 0;
}
/*edit business*/
.b-nav-edit{
	margin-top: 3%;
}
#tab1{
	margin-top: 3%;
}
.b-nav-edit > li.active > a{
	color: #ef4c9b !important;
}
.b-success{
	color: #EF4C9B;
	margin-bottom: 2%;
}
#form_edit label.error{
	color:#FF0000; 
	font-weight: normal;
	font-size: 14px;
}
#tab2 h4 {
	border-bottom: solid 1px #e7e7e7;
	font-weight: bold;
	margin-left: 1.2%; 
}
#tab3 h4 {
	border-bottom: solid 1px #e7e7e7;
	font-weight: bold;
	margin-left: 1.2%; 
}
#tab4 h4 {
	border-bottom: solid 1px #e7e7e7;
	font-weight: bold;
	margin-left: 1.2%; 
}
.photo-vendor button{
	position: absolute;bottom: 2%;left: 38%; 
}
.y-video {
	margin-bottom: 3%;
}
.one-slide{
	padding: 10px 15px;
}
.one-slide span{
	color: red;
    float: right;
    cursor: pointer;
}
/*end edit business*/
/*modal anh dai dien*/
.b-modal-avatar{
	margin-top: 4%;
}
.btn-upload-slide button{
	margin: 2%;
	width: 15%;
}
/*end*/
/*inbox*/
.head-inbox h4{ 
	border-bottom: solid 1px #e7e7e7;
	font-weight: bold;
	margin-left: 1.2%; 
}
.inbox{
	min-height: 400px;
}
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sidebar-nav{
  	border: solid 1px #e7e7e7;
  }
  .left-inbox{
	margin-top: 3%;
}
}
.load-inbox a{
	text-decoration: none;
}
.load-inbox a:hover{
	color: #ef4c9b;
}
.menu-inbox >li > a{
	font-weight: bold;
	font-size: 16px !important;
}
/*end inbox*/


